/* @media (min-width: 768px) {
    .wrapper {
        min-width: 768px;
    }
    .overlay {
        background-image: url(../img/Tablet.png);
        height: 700px;
        width: 768px;
    }
    .logo {
        
    }
} */