img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.background {
    background-image: url(../img/Desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 700px;
    margin: auto;
}

.logo, .button-nav, .button-section-1,
.title-1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: white;
}
h1, h2, h3, p {
    margin: 0;
}

.logo {
    font-size: 20px;
    text-align: center;
}

.button-nav {
    font-size: 14px;
    padding: 8px 10px;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    outline: transparent;
}

.button-nav:hover {
    border: 2px solid white;
    border-radius: 20px;
}

/* Holiday Dreams */

.holiday-dreams {
    padding: 0;
}

.title-1 {
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.paragraph-1 {
    font-size: 18px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    line-height: 1.2;
}

.two-button {
    width: 280px;
    padding: 12px 0;
    margin: auto;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    outline: transparent;
    text-align: center;
}
#button-section-1 {
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 78, 80);
}
/* ---------------------------------- */

.title-2 {
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.icons {
    width: 120px;
    height: auto;
    position: relative;
    margin: auto;
}
.icon {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 3px solid white;
}
#icon-1 {
    background-image: url(../img/icons/tv.png);
    background-color: #ff4e50;
}
#icon-2 {
    background-image: url(../img/icons/flask.png);
    background-color: #ffa507;
}
#icon-3 {
    background-image: url(../img/icons/cup.png);
    background-color: #1cd7ad;
}
#icon-4 {
    background-image: url(../img/icons/arrow.png);
    background-color: #4e73db;
}

.name {
    text-align: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.paragraph-2 {
    text-align: center;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
#button-section-2 {
    color: rgb(255, 0, 0);
    border: 2px solid red;
}