.header__nav {
    @include center-fkex;
}
.nav-list {
    @include between-flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 640px;

    &__item {
        @extend %underline-list-nav;
    }

    &__icon-1 {
        background-image: url(../images/icons/Header/CART.png);
        @extend %header-icons;
    }

    &__icon-2 {
        background-image: url(../images/icons/Header/GLASS.png);
        @extend %header-icons;
    }
}

