.team__overlay-1 {
    background-color: rgb(149, 225, 211);
    z-index: -1;
    @extend %overlay;
}
.team__overlay-2 {
    display: none;
    background-image: linear-gradient(to top, rgba(252,227,138, 0.9) 0%, rgba(243,129,129, 0.9) 100%);
    @extend %overlay;
}