/* @media (min-width: 320px) and (max-width: 767px) {
    .wrapper {
        min-width: 320px;
    }
} */

@media (min-width: 768px) {
    .wrapper {
        min-width: 768px;
    }
    .overlay {
        background-image: url(../img/Tablet.png);
        height: 700px;
        width: 768px;
    }
    .main-navigation {
        height: auto;
        flex-direction: row;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 30px;
        margin-bottom: 154px;
    }
    /* SECTION 1 */
    .section-1 {
        width: 492px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 304px;
    }
    .div-1 {
        height: 180px;
        margin-bottom: 34px;
    }
    .title-1 {
        font-size: 50px;
    }
    .paragraph-1 {
        font-size: 24px;
        padding-left: 0;
        padding-right: 0;
    }
    .button-section-1 {
        width: 226px;
        margin: 0;
    }

    /* SECTION 2 */
    .section-2 {
        padding: 0;
        padding-bottom: 40px;
        text-align: center;
    }
    .title-2 {
        margin-bottom: 32px;
    }
    .features-list {
        width: 492px;
        height: 500px;
        margin: 0 auto;
        flex-flow: row wrap;
        margin-bottom: 36px;
    }
    .features-list-item:nth-child(1) {
        order: 1;
    }
    .features-list-item:nth-child(2) {
        order: 3;
    }
    .features-list-item:nth-child(3) {
        order: 2;
    }
    .features-list-item:nth-child(4) {
        order: 4;
        height: 240px;
        padding-bottom: 34px;
    }
        .button-section-2 {
        width: 194px;
    }
    /* * {
        outline: 1px solid coral;
    } */
}

@media (min-width: 1440px) {
    .wrapper {
        min-width: 1440px;
        padding-left: 250px;
        padding-right: 250px;
    }
    .overlay {
        background-image: url(../img/Desktop.png);
        height: 700px;
        width: 1440px;
        top: 0;
        left: -250px;
    }
    .main-navigation {
        margin-top: 0;
        margin-bottom: 130px;
        padding: 46px 0 0 0;
    }
    .section-2 {
        padding-bottom: 74px;
    }
    .features-list {
        width: 942px;
        height: 240px;
    }
    .features-list-item {
        width: 220px;
        height: 240px;
    }
    .features-list-item:not(:nth-child(2)) {
        padding-bottom: 34px;
    }
}