html {
    box-sizing: border-box;
}
*,*::before, *::after {
    box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* -------------------------------- */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* -------------------------------- */
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 38px;
}
/* -------------------------------- */

/* !!!------ NAVIGATION ------!!! */

.main-navigation {
    padding-left: 244px;
    padding-right: 244px;
    margin-bottom: 34px;
}
.site-navigation {
    float: right;
    margin: 0;
    padding-top: 10px;
}
.site-navigation li {
    display: block;
    float: left;
}

/* ---- Оформление навигации */

.logo {
    float: left;
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}
.logo::first-letter {
    font-size: 30px;
    font-weight: 700;
    color: #1abc9c;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}
.link {
    font-size: 14px;
    font-weight: 700;
    color: #1abc9c;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}
a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #555252;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}
/* ---------------------------------- */

/* Отступы для li */
.home {
   padding-right: 17px; 
}
.about {
    padding-left: 17px;
    padding-right: 19px;
}
.page {
    padding-left: 19px;
    padding-right: 15px;
}
.shop {
    padding-left: 15px;
    padding-right: 14px; 
}
.blog {
    padding-left: 14px;
    padding-right: 17px;
}
.contact {
    padding-left: 17px;
}
/* ---------------------------------- */

main {
    background-color: #e9f0fd;
    
}

/* !!!------ SECTION 1 ------!!! */
.page-main-1 {
    margin-bottom: 92px;
    height: 600px;
    width: 1600px;
}
.section-1 {
    position: relative;
    height: 600px;
    width: 1600px;
}
/* -------------------------------- */
/* .background {
    display: none;
    position: absolute;
    height: 600px;
    width: 1600px;
    background-color: rgb(0, 0, 2, 0.522);
} */

#overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.photo-1 {
    position: absolute;
}
.title-1 {
    margin: 0;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 204px;
    left: 430px;
    letter-spacing: -1px;
    word-spacing: -2px;
    z-index: 2;
}
.paragraph-1 {
    color: rgb(255, 255, 255); 
    font-size: 24px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 295px;
    left: 430px;
    z-index: 2;
}
/* -------------------------------- */

/* ----- ICONS for SECTION 1 ----- */

.slider-1 {
    margin: 0;
    padding: 0;
    border: none;
    height: 104px;
    width: 104px;
    background-color: rgb(26, 188, 156, 0.651);
    position: absolute;
    top: 225px;
    left: 245px;
    cursor: pointer;
}
.slider-2 {
    margin: 0;
    padding: 0;
    border: none;
    height: 104px;
    width: 104px;
    background-color: rgb(26, 188, 156,0.651);
    position: absolute;
    top: 230px;
    right: 245px;
    cursor: pointer;
}
.slider-1:before {
    content: "\e686";
    font-size: 100px;
    font-family: "Pe-icon-7-stroke";
    color: #fff;
}
.slider-2:after {
    content: "\e684";
    font-size: 100px;
    font-family: "Pe-icon-7-stroke";
    color: #fff;
}

/* ----- HOVER for Slider ----- */

.slider-1:hover {
    background-color: rgb(26, 188, 156);
}
.slider-2:hover {
    background-color: rgb(26, 188, 156);
}
/* --------------------------------- */

/* !!!------ SECTION 2 ------!!! */

.page-main-2 {
    margin: 0 auto;
}
.title-2 {
    text-align: center;
    margin-bottom: 110px;
    margin-top: 0;
}
.list-section-2 {
    padding-bottom: 100px;
    float: left;
    margin: 0 auto;
    padding-left: 244px;
    padding-right: 244px;
}
.list-section-2 li {
    display: block;
    float: left;
}
/* ----------------------------- */

/* ---- Список li ---- */
.photo-list-section-2 {
    width: 254px;
    margin-right: 30px;
}
.photo-list-section-2:last-child {
    margin-right: 0;
}
p {
    margin: 0;
}
.name-price {
    float: left;
}

/* ---- Оформление SECTION 2 ---- */

.title-2 {
    text-align: center;
    font-size: 48px;
    color: #555252;
    font-weight: 900;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}
.title-2::after {
    content: "";
    display: block;
    text-align: center;
    height: 6px;
    width: 164px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1abc9c;
}
.name {
    float: left;
    height: 40px;
    width: 200px;
    font-size: 18px;
    font-weight: 900;
    background-color: #323232;
    color: #fff;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    padding-top: 8px;
    padding-left: 14px;
}
.price {
    float: left;
    height: 40px;
    width: 54px;
    font-size: 18px;
    font-weight: 900;
    background-color: #8c8c8c;
    color: #f2f2f2;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 8px;
}
/* ------------------------------ */

/* BUTTON */
/* CARDS */
.card {
    position: relative;
}
.button {
    display: none;
    width: 255px;
    height: 282px;
    border-width: 10px;
    border-color: #fff;
    border-style: solid;
    background-color: rgb(0, 0, 2, 0.549);
    position: absolute;
    top: 0;
    cursor: pointer;
}
/* ---------------------------- */
.button-1 {
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    background-color: rgb(0, 0, 0, 0);
    top: 79px;
    left: 35px;
    position: absolute;
    cursor: pointer;
}
.button-1::before {
    content: "\e642";
    font-size: 30px;
    font-family: 'Pe-icon-7-stroke';
    color: #fff;
    border: 1px #fff;
}
/* ------------------------------- */
.button-2 {
    height: 50px;
    width: 50px;
    border: 1px solid #1abc9c;
    background-color: #1abc9c;
    top: 79px;
    left: 94px;
    position: absolute;
    cursor: pointer;
}
.button-2::before {
    content: "\e614";
    font-size: 30px;
    font-family: 'Pe-icon-7-stroke';
    color: #fff;
    border: 1px #fff;
}
/* --------------------------------- */
.button-3 {
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    background-color: rgb(0, 0, 0, 0);
    top: 79px;
    left: 151px;
    position: absolute;
    cursor: pointer;
}
.button-3::before {
    content: "\e66b";
    font-size: 30px;
    font-family: 'Pe-icon-7-stroke';
    color: #fff;
    border: 1px #fff;
}
/* ------------------------------------ */
.button-4 {
    height: 50px;
    width: 166px;
    border: 1px solid #fff;
    background-color: #323232;
    top: 136px;
    left: 35px;
    position: absolute;
    cursor: pointer;
}
.button-4::before {
    padding-left: 10px;
    padding-top: 8px;
    content: "\e66e";
    font-size: 30px;
    font-family: 'Pe-icon-7-stroke';
    color: rgb(255, 255, 255);
    border: 1px rgb(255, 255, 255);
    float: left;
}
.cart {
    padding-top: 16px;
    padding-right: 16px;
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    background-color: #323232;
    border: none;
    vertical-align: middle;
    float: right;
    cursor: pointer;
}
/* -------------------------------- */

/* !!!----- FOOTER -----!!! */

footer {
    height: 88px;
    width: 1600px;
    background-color: #323232;
    padding-left: 594px;
    padding-right: 610px;
    padding-top: 34px;
}
.footer-name {
    display: inline-block;
    width: 404px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}
.rights {
    display: inline-block;
}
.rights::after {
    content: "\00A9";
    padding-left: 4px;
}
.color-green {
    color: #46bfa9;
}

/* ------ HOVER Section 2 ------ */

.photo-list-section-2:hover .button {
    display: block;
}
.photo-list-section-2:hover .name {
    background-color: #1abc9c;
}
.photo-list-section-2:hover .price {
    background-color: #7fd9c7;
}
 

