html {
    box-sizing: border-box;
}
*,*::befor, *::after {
    box-sizing: inherit;
}
/* * {
    outline: 1px solid red;
} */
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 76px;
    padding-bottom: 70px;
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: green;
}
/* Навигация HEADER */
.site-navigation {
    margin: 0;
    padding: 0;
    text-align: center;
}
.site-navigation li {
display: inline-block;
}
.page-header {
    margin-bottom: 104px;
}
.life {
    margin-right: 62px;
}
.photo {
    margin-left: 62px;
    margin-right: 51px;
}
.music {
    margin-left: 52px;
    margin-right: 48px;
}
.travel {
    margin-left: 48px;
    margin-right: 0;
}
/* Главное меню */
.page-main {
    margin-bottom: 54px;
}
.site-main {
    margin: 0;
    padding: 0;
}
.photo-list-item {
    display: inline-block;
    width: 418px;
    margin-right: 60px;
    margin-bottom: 138px;
}
.photo-list-item:nth-child(2n) {
    margin-right: 0;
}
h1, h2, p {
    margin: 0;
}
img {
    padding-bottom: 30px;
}
.paragraph {
    padding-bottom: 26px;
}
h1, h2 {
    padding-bottom: 32px;
}
.last {
    margin-right: 60px;
    margin-bottom: 0;
    padding: 0;
}

/* Кнопка */
.button {
    display: inline-block;
    margin-left: 360px;
    margin-right: 380px;
}
button {
    width: 162px;
    height: 60px;
    padding: 0;
    border: 1px solid;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Playfair display', serif;
    color: #626262;
}
a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Playfair display',serif;
    color: #626262;
}
.lifestyle {
    color: #03a9f4;
}
.paragraph {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Myriad Pro', sans-serif;
    color: #c8c3b9;
}
h1, h2 {
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Playfair display', serif;
    color: #626262;
}
p {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Playfair display', serif;
    color: #626262;
    text-align: justify;
    line-height: 1.5em;
}
