/* General Rule*/
html {
    box-sizing: border-box;
}
*,*::befor, ::after {
    box-sizing: inherit;
}

/* RULE Fol all images (убрать зазор) */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* For all content */
.conteiner {
    width: 902px;
    margin: 0 auto;
}
/* HEADER */
.page-nav {
    background: none;
    text-align: center;
    margin-bottom: 104px;
}

/* For all ul>li */
.site-navigation li {
    display: inline-block;
}
.site-navigation {
    margin: 0;
    padding: 0;
    display: inline-block;
}
#navigation {
    margin-top: 76px;
} 
.life {
    margin-right: 62px;
}
.photo {
    margin-left: 62px;
    margin-right: 51px;
}
.music {
    margin-left: 52px;
    margin-right: 48px;
}
.travel {
    margin-left: 48px;
    margin-right: 0;
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: green;
}
/* End of HEADER */


/* BODY */
.photo-list-item {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
}
#coffee, #exploring, #winter {
    margin-right: 0;
    margin-left: -2px;
}

/* Отступы вниз */
ul {
    margin-bottom: 102px;
}
img {
    margin-bottom: 30px;
}


.paragraph {
    margin-bottom: 26px;
}
h1, h2 {
    margin-bottom: 32px;
    margin-top: 0;
}
p {
    margin-bottom: 132px;
    margin-top: 0;
}
button {
    margin-bottom: 72px;
    margin-left: 358px;
    margin-right: 380px;
}


/* Font-size for each elements */

a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Playfair display',serif;
    color: #626262;
}

.paragraph {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Myriad Pro', sans-serif;
    color: #c8c3b9;
}
h1, h2 {
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Playfair display', serif;
    color: #626262;
}
p {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Playfair display', serif;
    color: #626262;
    text-align: justify;
    line-height: 1.5em;
}
button {
    width: 162px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Playfair display', serif;
    color: #626262;
}

